<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iniciar sesion</title>

    <link rel="stylesheet" href="src/public/css/style.css">
    

</head>
<body>
    <header>
        <li><a href="/iniciar-sesion">Ingresar</a></li>
    </header>
      <div class="iniciarSesion">
          
           <form action="" method="post">
            

              <input type="text"  placeholder="nombre de usuario">
  
              <input type="password" placeholder="contraseña" >
  
              <button type="submit">enviar</button>
           </form>
        </div>
    
    
</body>
</html>