<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresa</title>
    <link rel="stylesheet"  href="css/style.css">
   
</head>
<body>
  <header>
    <div class="header-top">
        <div class="logo-container">
            <img class="logo" src="images/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre">
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Buscar productos, marcas" style="color: gray;">
            <div class="icon-container">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </div>
        <div class="promote">
            <i class="fa-solid fa-money-check-dollar"></i>
            <h5>Compra en cuotas y sin tarjeta de crédito</h5>
        </div>
    </div>

    <div class="header-bottom">
        <div class="menu-options">
            <ul>
                <li><a href="" target="_blank">Ofertas</a></li>
                <li><a href="" target="_blank">Tiendas oficiales</a></li>
                <li><a href="" target="_blank">Vender</a></li>
                <li><a href="" target="_blank">Ayuda</a></li>
                <li><a href="register" target="_blank">Crea tus cuentas</a></li>
                <li><a href="login" target="_self">Ingresa</a></li>
                <li><a href="" target="_blank">Mis compras</a></li>
            </ul>
        </div>
    </div>
</header>

    <main>
       <!--banner-->
       <img src="./images/img-home-banner.jpg"    alt="banner" class="banner">
        <form action="index.html" method="post">
          <input type="text"  placeholder="Nombre de usuario">
          <input type="password"  placeholder="Contraseña">
          <button type="submit" >Enviar</button>
        </form>
      </main>

      <footer>
        <div class="footer-section"> 
        <div >
            <i class="fa-solid fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </div>
    
        <div >
            <i class="fa-solid fa-gift" ></i>
            <h3>Envío gratis desde $2.500</h3>
            <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </div>
    
        <div >
            <i class="fa-solid fa-user-shield" ></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devuélvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegido.</p>
        </div>
    </div> 
        <div class="footer-section">
            <p>Copyright &copy; 1999-2035 MercadoLiebre S.R.L.</p>
        </div>
    </footer>
      
</body>
</html>
